{% extends 'base2.html.twig' %}
{% block body %}
    <div class="center">
        {{ form_start(editProfile) }}
            <h1>Editing {{ app.User.firstName }} {{ app.user.lastName }}'s information</h1>
                <table>
                    <tr>
                        <td>{{ form_label(editProfile.email) }}</td>
                        <td>{{ form_widget(editProfile.email) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_label(editProfile.firstName) }}</td>
                        <td>{{ form_widget(editProfile.firstName) }}</td>
                    </tr>
                    <tr>
                        <td>{{ form_label(editProfile.lastName) }}</td>
                        <td>{{ form_widget(editProfile.lastName) }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td> <button type="submit" id="btn">Confirm</button></td>
                    </tr>
                </table>
        {{ form_end(editProfile) }}
    </div>
{% endblock %}