<!Doctype>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ 'r.css' }}" type="text/css">
    <title>Registration</title>
</head>
<body>
    {% block javascripts %}
            <script>
                function hasCompany() {
                    let nom = document.getElementsByClassName('nom')[0];
                    let pays = document.getElementsByClassName('pays')[0];
                    let mail = document.getElementsByClassName('email')[0];
                    let center = document.getElementsByClassName('center')[0];
                    let labNom = document.getElementById('labNom');
                    let labPays = document.getElementById('labPays');
                    let labMail = document.getElementById('labMail');
                    if(document.getElementsByClassName('comp')[0].checked){
                        labNom.style.display = "block";
                        labPays.style.display = "block";
                        labMail.style.display = "block";
                        nom.style.display = "block";
                        pays.style.display = "block";
                        mail.style.display = "block";
                        center.style.height="620px";
                    }else{
                        labNom.style.display = "none";
                        labPays.style.display = "none";
                        labMail.style.display = "none";
                        nom.style.display = "none";
                        pays.style.display = "none";
                        mail.style.display = "none";
                        center.style.height="400px";
                    }
                }
                function noCompany() {
                    let elem = document.getElementById('visible');
                    elem.style.display = "none";
                }

            </script>
        {% endblock %}
    {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}

    <div class="center">

        <h1>Register</h1>

            {{ form_start(registrationForm) }}
        <table>
            <tr>
                <td>{{ form_label(registrationForm.firstName) }}</td>
                <td>{{ form_widget(registrationForm.firstName) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(registrationForm.lastName) }}</td>
                <td>{{ form_widget(registrationForm.lastName) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(registrationForm.email) }}</td>
                <td>{{ form_widget(registrationForm.email) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(registrationForm.password) }}</td>
                <td>{{ form_widget(registrationForm.password) }}</td>
            </tr>
            <tr>
                <td>{{ form_label(registrationForm.confirmPassword) }}</td>
                <td>{{ form_widget(registrationForm.confirmPassword) }}</td>
            </tr>
            <tr>
                <td><label for="birthday">Birthday</label></td>
                <td>{{ form_widget(registrationForm.birthday) }}</td>
            </tr>
        </table>

        <table class="checkbox">
            <tr>
                <td class="checkbox_label">If you belong to some company, check the case please</td>
                <td>{{ form_widget(registrationForm.company,
                        {'attr':{'onclick':'hasCompany()', 'class': 'comp'}}) }}</td>
            </tr>
        </table>

        <table>
            <tr id="labNom" style="display: none">
                <td >{{ form_label(registrationForm.companyName) }}</td>
                <td>{{ form_widget(registrationForm.companyName,
                    {'attr':{'onclick':'hasCompany()', 'class': 'nom','style': 'display: none;'}}) }}</td>
            </tr>
            <tr id="labPays" style="display: none">
                <td>{{ form_label(registrationForm.companyCountry) }}</td>
                <td>{{ form_widget(registrationForm.companyCountry,
                        {'attr':{'onclick':'hasCompany()', 'class': 'pays','style': 'display: none;'}}) }}</td>
            </tr>
            <tr id="labMail" style="display: none">
                <td>{{ form_label(registrationForm.companyEmail) }}</td>
                <td>{{ form_widget(registrationForm.companyEmail,
                        {'attr':{'onclick':'hasCompany()', 'class': 'email','style': 'display: none;'}}) }}</td>
            </tr>
        </table>
        <button type="submit">Enter</button>
            {{ form_end(registrationForm) }}

    </div>
</body>
</html>