{% extends 'base.html.twig' %}
{% block title %}Article{% endblock %}

{% block body %}
    <div id="indx">
        <h1>Article Numéro : {{ article.id }}</h1>
    </div>
    <div id="table">
        <div id="tabe">
            <h1>{{ article.title }}</h1>
            <tbody >
            {% for image in article.pictures  %}
                <div >
                    <img id="img" src="{{ asset('/uploads/' ~ image.name) }}" alt="Image" width="150">
                </div>
            {% endfor %}
                <div>{{ article.publicationDate ? article.publicationDate|date('Y-m-d') : '' }}</div>
                <div>{{ article.content }}</div>
            </tbody>

             <a id="show" class="btn-danger" href="{{ path('home') }}">back to page home</a>
        </div>
    </div>
{% endblock %}
