{% extends 'base2.html.twig' %}
{% block body %}
    <div class="center">
        <h1>Editing {{ app.User.firstName }} {{ app.User.lastName }}'s password</h1>
        {{ form_start(editPassword) }}
            <table>
                <tr>
                    <td>{{ form_label(editPassword.password.first) }}</td>
                    <td>{{ form_widget(editPassword.password.first) }}</td>
                </tr>
                <tr>
                    <td>{{ form_label(editPassword.password.second) }}</td>
                    <td>{{ form_widget(editPassword.password.second) }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td> <button type="submit" id="btn">Confirm</button></td>
                </tr>
            </table>
        {{ form_end(editPassword) }}
    </div>
{% endblock %}