<link rel="stylesheet" href="bootstrap.min (2).css">
{% block body %}
{{ form_start(form) }}
    <div class="row" style="margin-left: 40%;">
        <fieldset>
            <legend>Veuillez renseigner vos informations</legend>
            <div class="col">{{ form_row(form.fistName, {'label': 'Prénom'}) }}</div>
            <div class="col">{{ form_row(form.lastName, {'label': 'Nom'}) }}</div>
            <div class="col">{{ form_row(form.userName, {'label': 'Pseudo'}) }}</div>
            <div class="col">{{ form_row(form.email, {'label': 'Email'}) }}</div>
            <div class="col">{{ form_row(form.password, {'label': 'Mot de passe'}) }}</div>
            <div class="col">{{ form_row(form.birthday, {'label': 'Date de naissance'}) }}</div>
            <div class="col">{{ form_row(form.country, {'label': 'Pays'}) }}</div>
            <div class="col">{{ form_row(form.town, {'label': 'Ville'}) }}</div>
            <div class="col">{{ form_row(form.street, {'label': 'Adresse'}) }}</div>
            <div class="col">{{ form_row(form.numStreet, {'label': 'Numéro de la rue'}) }}</div>
            <div class="col">{{ form_row(form.phoneNum, {'label': 'Téléphone'}) }}</div>
            <div class="col">{{ form_row(form.zipCode, {'label': 'Code postal'}) }}</div>
            <button type="submit" class="btn btn-success">Inscription</button>
        </fieldset>
    </div>
    {{ form_end(form) }}


{% endblock %}
