
{% extends 'base.html.twig' %}
{% block body%}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

    <div class="body_head">
        <img id="business" src="pictures/business.jpg" alt=""/>
    </div>
    <h1>What happened ?</h1>
    <h2>"If you know something, Say it."</h2>

    {# -----------------------------------------Menu horizontal----------------------------------------------#}

    <ul>
        <li>
            <button type="button" class="btn btn-primary">
                <div class="texte">
                    <a href="{{ 'home' }}" alt="Retour">Retour</a>
                </div>
            </button>
        </li>
        <li class="laUne">
            <button type="button" class="btn btn-primary"><div class="texte">A la une</div></button>
        </li>
        <li>
            <button type="button" class="btn btn-primary"><div class="texte">Sciences</div></button>
        </li>
        <li>
            <button type="button" class="btn btn-primary"><div class="texte">Histoire</div></button>
        </li>
        <li>
            <button type="button" class="btn btn-primary"><div class="texte">Sport</div></button>
        </li>
        <li>
            <button type="button" class="btn btn-primary"><div class="texte">Politiquue</div></button>
        </li>
        <li>
            <button type="button" class="btn btn-primary"><div class="texte">À propos</div></button>
        </li>
        <li>
            <div class="dropdown">
                <input onclick="myFunction()" type="image" id="img_profil2" class="dropbtn"
                       src="pictures/profil.png" alt="">
                <div id="myDropdown" class="dropdown-content">
                    {% if app.user %}
                        <a href="{{ path('logout') }}">se déconnecter</a>
                        <a href="{{ path('profile') }}">Voir mon profil</a>
                    {% else %}
                        <a href="{{ path('login') }}">se connecter</a>
                    {% endif %}
                </div>
            </div>
        </li>
    </ul>

{# --------------------------- #}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Publication_date</th>
                <th>Title</th>
                <th>Content</th>
                <th>Emergency</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for article in article %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.publicationDate ? article.publicationDate|date('Y-m-d') : '' }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.emergency ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn btn-outline-info" href="{{ path('article_show', {'id': article.id}) }}">show</a>
                    <a class="btn btn-outline-danger" href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a id="create" class="btn btn-success" href="{{ path('article_new') }}">Create new</a>
{% endblock %}
