{% extends 'base.html.twig' %}
{% block body%}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>

    <div class="body_head">
        <img id="business" src="pictures/business.jpg" alt=""/>
    </div>
    <h1>Create new article </h1>
    <h2>"If you know something, Say it."</h2>

    {# -----------------------------------------Menu horizontal----------------------------------------------#}

    <ul>
        <li>
            <button type="button" class="btn btn-primary">
                <div class="texte">
                    <a href="{{ 'home' }}" alt="Retour">Retour</a>
                </div>
            </button>
        </li>
        <li class="laUne">
            <button type="button" class="btn btn-primary"><div class="texte">A la une</div></button>
        </li>
        <li>
            <button type="button" class="btn btn-primary"><div class="texte">Sciences</div></button>
        </li>
        <li>
            <button type="button" class="btn btn-primary"><div class="texte">Histoire</div></button>
        </li>
        <li>
            <button type="button" class="btn btn-primary"><div class="texte">Sport</div></button>
        </li>
        <li>
            <button type="button" class="btn btn-primary"><div class="texte">Politiquue</div></button>
        </li>
        <li>
            <button type="button" class="btn btn-primary"><div class="texte">À propos</div></button>
        </li>
        <li>
            <div class="dropdown">
                <input onclick="myFunction()" type="image" id="img_profil2" class="dropbtn"
                       src="pictures/profil.png" alt="">
                <div id="myDropdown" class="dropdown-content">
                    {% if app.user %}
                        <a href="{{ path('logout') }}">se déconnecter</a>
                        <a href="{{ path('profile') }}">Voir mon profil</a>
                    {% else %}
                        <a href="{{ path('login') }}">se connecter</a>
                    {% endif %}
                </div>
            </div>
        </li>
    </ul>

    <div id="form">
        {{ include('article/_form.html.twig') }}
    </div>

    <a id="back" class="btn btn-secondary" href="{{ path('article_index') }}">back to list</a>

{% endblock %}
