
{% extends 'base.html.twig' %}
{% block title %}Article{% endblock %}

{% block body %}
    <div id="indx">
        <h1>Article</h1>
    </div>

    <table id="tabe" class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Publication_date</th>
                <td>{{ article.publicationDate ? article.publicationDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th>Emergency</th>
                <td>{{ article.emergency ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a id="show" class="btn-danger" href="{{ path('article_index') }}">back to list</a>

    <a id="edit" class="btn-success" href="{{ path('article_edit', {'id': article.id}) }}">edit</a>

    {{ include('article/delete_form.html.twig') }}
{% endblock %}
